//colors
$table-bg: #E5EEFB;
$table-border: #DAE0E9;
$table-shadow: rgba(108, 117, 125, 0.25);
$table-header-col: #3A5071;
$pagination-no-color:#272F3E;
$pagination-hov:invert(15%);

$pagination-hov-col: darken(#fff, 15%);
$th-font-size:1rem;
$td-font-size:1rem;
$cell-padding: 1rem;
